.App{
    display: flex;
    flex-direction: column;
}

body{
    margin: 0;
    font-family: BogleWeb,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}